/* .account-page {
  background-color: #f4f4f4;
  width: max-content;
} */

.admin-dashboard {
  margin-bottom: 20px;
}

.account-heading {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 700;
  color: #333;
}

.account-details {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

.account-details p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.account-details span {
  font-weight: bold;
}

.order-history,
.my-reviews {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

.order-history h1,
.my-reviews h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  font-weight: 700;
}

.order,
.review {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
}

.order-id span,
.order-status span,
.product-quantity span,
.order-price span,
.review-rating span,
.review-date span {
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
}

.review-product {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.review-message {
  font-size: 1.2em;
  margin-top: 10px;
}

.no-orders,
.no-reviews {
  margin-top: 10px;
  color: #888;
}

.logout-button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  /* background-color: #ff0000; */
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

@media (max-width: 768px) {
  .account-page {
    padding: 10px;
  }

  .account-heading {
    font-size: 1.5em;
  }

  .account-details p,
  .order-id span,
  .order-status span,
  .product-quantity span,
  .order-price span,
  .review-rating span,
  .review-date span,
  .review-product,
  .review-message {
    font-size: 1em;
  }

  .order-history h1,
  .my-reviews h1 {
    font-size: 1.2em;
  }

  .order,
  .review {
    padding: 10px;
  }

  .logout-button {
    font-size: 1em;
    padding: 10px 20px;
  }
}
